@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    overflow: hidden;
    font-family:'Open sans', sans-serif;
    font-weight: 600;
}
.main-cadastro{
    width: 100vw;
    height: 100vh;
    background: #D6ECDF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cadastro{
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-cadastro > h1{
    color: #325B41;
}
.left-cadastro-image{
    width: 29vw;
}
.right-cadastro{
    width: 50vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-cadastro{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 25px;
    background: #ABCDCA;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #b9dad8;
}
.card-cadastro > h1{
    color: #325B41;
    font-weight: 700;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #edfdf4;
    color: #737373;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #b9dad8;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #325B41;
    margin-bottom: 9px;
}
.textfield > input::placeholder{
    color: #737373;
}
h2{
    font-size: 14px;
    color: #007e80;
    text-decoration: none;
    margin-left: 60%; 
}
.button-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #325B41;
    background: #D6ECDF;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #b9dad8;
}
button:active {
    opacity: 0.8;
}
p{
    color: #325B41;
}
a{
    color: #007e80;
    text-decoration: none;
    margin-left: 10px;
}